<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hotkey_Pad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Hotkey_Pad.Properties.Settings>
            <setting name="rowButtonNum" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="colButtonNum" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="buttonPadding" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="buttonData" serializeAs="String">
                <value />
            </setting>
            <setting name="winBackground" serializeAs="String">
                <value>16,1,166,255</value>
            </setting>
            <setting name="winForeground" serializeAs="String">
                <value>255,255,255,255</value>
            </setting>
            <setting name="padTabBackground" serializeAs="String">
                <value>16,1,166,255</value>
            </setting>
            <setting name="padTabForeground" serializeAs="String">
                <value>255,255,255,255</value>
            </setting>
            <setting name="padEditTabBackground" serializeAs="String">
                <value>173,53,241,255</value>
            </setting>
            <setting name="padEditorTabForeground" serializeAs="String">
                <value>255,255,255,255</value>
            </setting>
            <setting name="settingsTabBackground" serializeAs="String">
                <value>16,1,166,255</value>
            </setting>
            <setting name="settingsTabForeground" serializeAs="String">
                <value>255,255,255,255</value>
            </setting>
        </Hotkey_Pad.Properties.Settings>
    </userSettings>
</configuration>